[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/ocp-indent-vim"]
	path = vim/bundle/ocp-indent-vim
	url = https://github.com/def-lkb/ocp-indent-vim
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/pycalc"]
	path = vim/bundle/pycalc
	url = https://github.com/kearnh/pycalc.git
[submodule "vim/bundle/semantic-highlight.vim"]
	path = vim/bundle/semantic-highlight.vim
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = https://github.com/sjl/tslime.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-leiningen"]
	path = vim/bundle/vim-leiningen
	url = https://github.com/tpope/vim-leiningen.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/vim-hy"]
	path = vim/bundle/vim-hy
	url = git@github.com:hylang/vim-hy.git
[submodule "vim/bundle/vim-cute-python"]
	path = vim/bundle/vim-cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "vim/bundle/vim-sexp"]
	path = vim/bundle/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "vim/bundle/vim-ondemandhightlight"]
	path = vim/bundle/vim-ondemandhightlight
	url = https://github.com/epage/vim-ondemandhightlight.git
[submodule "vim/bundle/vim-etherpad"]
	path = vim/bundle/vim-etherpad
	url = https://github.com/guyzmo/vim-etherpad.git
[submodule "vim/bundle/vim-monochrome"]
	path = vim/bundle/vim-monochrome
	url = https://github.com/fxn/vim-monochrome.git
[submodule "vim/bundle/slimux"]
	path = vim/bundle/slimux
	url = https://github.com/epeli/slimux
[submodule "vim/bundle/wildfire.vim"]
	path = vim/bundle/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/Checklist.vim"]
	path = vim/bundle/Checklist.vim
	url = git@github.com:ctruett/Checklist.vim.git
